<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
		</layout>
	</appender>

	<appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!-- TODO: Use conditional processing to check if jboss.home.dir has been defined -->
		<file>${jboss.server.log.dir}/security-management.log</file>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- Rollover at the first day of each month. -->
			<fileNamePattern>security-management-%d{yyyy-MM}.%i.log</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<!-- or whenever the file size reaches 100MB -->
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>

		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>


	<logger name="org.openiot.security.mgmt" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</logger>
	
	
	<logger name="org.openiot.security.client" level="DEBUG" additivity="false">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</logger>

	<root level="debug">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="file" />
	</root>

</configuration>

