<configuration debug="true">

	<appender name="DB" class="ch.qos.logback.classic.db.DBAppender">
		<connectionSource
			class="ch.qos.logback.core.db.DriverManagerConnectionSource">
			<driverClass>com.mysql.jdbc.Driver</driverClass>
			<url>jdbc:mysql://localhost:3306/openiot</url>
			<user>openiot</user>
			<password>openiot_pass</password>
		</connectionSource>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoders are by default assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n
			</pattern>
		</encoder>
	</appender>
	
	<logger name="eu.openiot" level="info">
		<appender-ref ref="DB" />
	</logger>
	
	<logger name="eu.openiot.util.GlobalLogger" level="debug" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	
	<logger name="org.eclipse.jetty" level="info" additivity="false">
		<appender-ref ref="STDOUT"/>
	</logger>
	

	<root level="debug">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>