brokerName = testBroker
brokerPort = 10000
internalUDPPort = 10001

# max number of publications waiting to be sent, for each subscriber
queueCapacity = 100

numberOfMatchers = 1

# If testing is set there will be extensive output to std.out
testing = true
# If logWriting is set a log file will be created and filled with detailed info of broker events
logWriting = true