/* general style */
form
{
	padding:0;
	margin:0;
}
h2	
{
	font-size:1.5em;
	margin:1em 0;
}

a	
{
	color: #666666;
	text-decoration:none;
	background-color:inherit;
}

a:hover
{ 
	color: #000000 /*#2a5a8a*/;
	text-decoration:none; 
	background-color:inherit;
}

a img 
{ 
	border :0;
	vertical-align: middle;
}

p 
{
	margin: 0.5em 0;
}

input[type=button],input[type=submit]
{
	color: black;
	text-align: center;
	border: 0px;
	cursor: pointer;
	
	margin:1px;
	
	border: 1px solid #FFA84C;
	border-left: 10px solid #FFA84C;
	background-color: #FCFDDC;
}




input[type=button]:active,input[type=button]:hover,input[type=submit]:active,input[type=submit]:hover
{
	color: #FFA84C;
	background-color: white;
}

/* container layout */
body, html 
{
	margin:0;
	padding:0;
	background:#DFDFDF;
	color:#000;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size:12px;
	line-height:1.4em;
}

body 
{
	min-width:750px;	
	width: 100%; 
	height: 100%; 
	margin: 0; 
	padding: 0;	
}

#container 
{
	margin:10px auto;
	padding:1px;
	width:750px;
	background:#FFFFFF;
}
#header, #headerfm 
{
	background:url("gsn-mark.png") no-repeat;
	background-color:#FFEE00;
	margin:0;
	padding:0;
}

#header h1 
{
	padding:32px 90px;
	margin:0;
}

#headerfm h1 
{
	margin:0;
	padding:32px 0 32px 90px;
	font-size:1.7em;
}
#header a,#headerfm a 
{
	text-decoration:none;
	color:#000000;
}
#navigation
{
	height:2.2em;
	line-height:2.2em;
	margin:0;
	padding:0;
	background:#ffa84c;
	color:#9e9e9e;
}

#navigation ul
{
	margin:0;
	padding:0;
}

#navigation #menu li
{
	float:left;
	list-style-type:none;
	border-right:1px solid #ffffff;
	white-space:nowrap;
}

#navigation #linkWebsite li
{
	float:right;
	list-style-type:none;
	border-left:1px solid #ffffff;
	white-space:nowrap;
}
#navigation #logintext li
{
    float:right;
    list-style-type:none;
	border-right:1px solid #ffffff;
	color: #000000;
	font-weight:bold;

}
#logintextprime 
{
    padding:0 10px;
	font-size:0.8em;
	font-weight:bolder;
	text-transform:uppercase;
	text-decoration:none;
	background-color:inherit;
	color: #000000;
}
#logintextfirst
{

	display:block;
	padding:0 10px;
	font-weight:bolder;
	text-transform:uppercase;
	text-decoration:none;
	background-color:inherit;
	color: #000000;
}

#logintextsecond
{
    
    color: #000000;
    font-weight:bold;
	
}
#logintextthird a
{
    
	display:block;
	padding:0 10px;
	font-size:0.8em;
	font-weight:bolder;
	text-transform:uppercase;
	text-decoration:none;
	background-color:inherit;
	color: #000000;
}



#navigation li a
{
	display:block;
	padding:0 10px;
	font-size:0.8em;
	font-weight:bolder;
	text-transform:uppercase;
	text-decoration:none;
	background-color:inherit;
	color: #000000;
}

* html #navigation a 
{
	width:1%;
}

#navigation .selected
{
	background:#ffffff;
	color:#000000;
	text-decoration:none;
}
#navigation a:hover
{
	/*background:#80b0da;*/
	/*color:#ffffff;*/
	background:#FFEE00; /*#ff6f00;*/
	color:#000000;
	text-decoration:none;
}

#fullscreenContent{
	text-align:center;
	margin-left:2%;
	margin-right:2%;
	margin-top:1%;
	background-color: #FFFFFF;
}
#seeLink{
	text-align:left;
	margin-left:5%	;
	width:90%;
	background-color:#FFE0BF;
	border: 1px solid #FFA84C;
}

#datechooser 
{
	clear:both;
	margin:1px;
	border: 1px solid #FFA84C;
	margin-bottom:8px;
	background:#FFA84C;
}

#datachooser table 
{
	width:100%;
}

.step
{
	background-color:#ffa84c;
	color:#000000;
}

.data
{
	background-color:#ffffff;
}

.query
{
	font-style:italic;
}

#main 
{
	float:left;
	width:490px;
	padding:0 10px;
}

#main h2, #main h3, #main p 
{
	padding:0;
}
    	
#sidebar 
{
	float:left;
	width:220px;
	margin:0;
	padding:0;
	text-align:left;
}
#sidebar ul 
{
	margin-bottom:0;
}
    	
#sidebar h3 
{
	font-size:1.2em;
}

#sidebar h3, #sidebar p 
{
	margin:5px;
}

#footer 
{
	clear:both;
	color:#808080;
}

#footer p 
{
	padding:10px 0 5px 0;
	margin:0;
	text-align:center;
 }

#vsmap 
{
	margin-bottom:5px;
}

#vsmenu
{
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

.rubric
{
	display: block;
	margin: 1px;
	padding: 5px 5px 5px 0.5em;
	border-left: 10px solid #FFC29F;
	background-color: #FCFDDC;
	color: #FFA84C;
	text-decoration: none;
}

.rubric:hover
{
	display: block;
	border-left-color: #FFC29F;
	background-color: #FCFDDC;
	color: black;
}

.sensorName
{
	display: block;	
	margin: 1px;
	padding: 5px 5px 5px 29px;
	border-left: 10px solid #FFE2BF;
	background-color: #FCFDDC;
	color: #FFA84C;
	text-decoration: none;
}


#dropArea .sensorName:hover
{
	background-color: white;/*#F0F000;*/
	border-left-color: #FFE2BF;
}

#dropArea
{
	border: thin double #FFA84C;
	background-color: #FFE0BF;
	height: 220px;
	text-align:left;
}

#dropAreaMask
{
	background-color: none;
	height: 300px;
	width:80%;
	margin-left: 10%;
	text-align:left;
}

#titleDropArea
{
	background-color: #FFA84C;
	border: thin double #FFA84C;
	text-align:center;
}



html>body #vsmenu div a 
{
	width: auto;
}

#vsmenu a:hover, #vsmenu div span:hover
{
	border-left: 10px solid #FFA84C;
	background-color: #FFB25F;
	color: #fff;
}

#vsmenu .toggle, #vsmenu .toggle:hover, #vsmenu .toggle:visited 
{
	background:none;
	float:right;
	margin:-22px 0 0 0;
	padding:0 5px;
	border:0;
	font-weight:bold;
}

#msg 
{
	border-top: 2px solid #FFA84C;
	border-bottom: 2px solid #FFA84C;
	background: #FFE0BF;
	margin: 5px 0;
	padding:5px;
}

#msg.good 
{
	font-weight:bold;
}

#msg.bad 
{
	font-weight:bold;
	color:red;
}

/* specific style for vsbox and core bellow */
.tooltip 
{
	border: 1px solid #FFA84C;
	padding: 2px;
	background: #FFE0BF;
	color: black;
}

.vsbox 
{
	clear:both;
	margin:1px;
	border: 1px solid #FFA84C;
	margin-bottom:8px;
	background:#FFA84C;
}
.followed 
{
	background:#FF8400;
	border: 1px solid #FF8400;
}

.vsbox h3 
{
	margin:1px 10px;
	padding:0;
	font-size:1.2em;
}

.vsbox h3 span 
{
	float:left;
}

.vsbox h3 span.id,.vsbox h3 span.status 
{
	display:none;
}

.vsbox h3 a .vsname 
{
	color:#000;text-decoration:underline;
}
		
.vsbox h3 a.close 
{
	font-size:0.8em;float:right;
}		

.vsbox h3 span.timed 
{
	margin-left:5px;
	font-size:0.8em;
	font-weight:normal;
}

.vsbox p, .vsbox dl 
{
	clear:both;
	padding:3px;
	margin:0;
	background:#ffffff;
}		

.vsbox dt 
{
	clear:both;
	float:left;
	font-weight:bold;
	padding:0;
	margin:0;
	padding-right:5px;
	min-width:100px;
	height:1.3em;
	text-align:right;
}

.vsbox dd 
{
	padding:0;
	margin:0;
	line-height:1.3em;
}

.vsbox dd img 
{
	/*height:150px;*/
}

.vsbox input[type=submit], .vsbox dl p 
{
	margin-left:107px;
}

.vsbox select.cmd
{
	margin-left:108px; width:146px;
}

.vsbox .input select 
{
	width:146px;
}

.vsbox .input input 
{
	vertical-align:middle;
}

.vsbox dl p 
{
	font-style: italic;
}

.vsbox a.tabdynamic, .vsbox a.tabstatic, .vsbox a.tabstructure,.vsbox a.tabdescription,.vsbox a.tabupload 
{
	display:none;
}

.vsbox dl.static, .vsbox dl.structure,.vsbox dl.description,.vsbox dl.upload 
{
	display:none;
}

.hidden 
{
	display:none;
}

.clear 
{
	clear:both;
}	

.error 
{
	font-weight:bold;
	color:#f00;
}

.tabnav
{
	float:none;
	clear:both;
	height: 20px;
	margin: 0;
	padding-left: 10px;
}
.tabnav li
{
	margin: 0; 
	padding: 0;
	display: inline;
	list-style-type: none;
}
	
.tabnav a:link, .tabnav a:visited
{
	float: left;
	background: #FFE0BF;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	padding: 2px 10px 2px 10px;
	margin-right: 4px;
	border: 1px solid #FFE0BF;
	text-decoration: none;
	color: #666;
}

.tabnav a:link.active, .tabnav a:visited.active
{
	border-bottom: 1px solid #fff;
	background: #fff;
	color: #000;
}

.tabnav a:hover
{
	background: #fff;
}

.gpsenabled 
{
	font-style: italic;
	font-weight: bold;
}




/* Date picker specific styles follow */

a.date-picker 
{
	width: 16px;
	height: 16px;
	border: none;
	color: #fff;
	padding: 0;
	margin: 0;
	overflow: hidden;
	cursor: pointer;
	background: url(calendar.png) no-repeat; 
}

a.date-picker span 
{

}

div.date-picker-holder, div.date-picker-holder * 
{
	margin: 0;
	padding: 0;
}

div.date-picker-holder 
{
	position: relative;
	display:inline;
}

div.date-picker-holder input 
{

}

div.popup-calendar 
{
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	left: -16px; /* value for IE */
	padding: 4px;
	border: 2px solid #FFA84C;
	background: #fff;
	color: #000;
	overflow:hidden;
	width: 163px;
	font-size: 80%;
}

html>body div.popup-calendar 
{
	left: 99px; /* value for decent browsers */
}

div.popup-calendar div.link-close 
{
	float: right;
}

div.popup-calendar div.link-prev 
{
	float: left;
}

div.popup-calendar h3 
{
	font-size: 1.3em;
	margin: 2px 0 5px 3px;
}

div.popup-calendar div.link-next 
{
	float: right;
}

div.popup-calendar div a 
{
	padding: 1px 2px;
	color: #000;
}

div.popup-calendar div a:hover 
{
	background-color: #FFA84C;
	color: #fff;
}

div.popup-calendar table 
{
	margin: 0;
}

* html div.popup-calendar table 
{
	display: inline;
}

div.popup-calendar table th, div.popup-calendar table td 
{
	background: #eee;
	width: 21px;
	height: 17px;
	text-align: center;
}

div.popup-calendar table td.inactive
{
	color: #aaa;
	padding: 1px 0 0;
}

div.popup-calendar table th.weekend, div.popup-calendar table td.weekend 
{
	background: #f6f6f6;
}

div.popup-calendar table td a 
{
	display: block;
	border: 1px solid #eee;
	width: 19px;
	height: 15px;
	text-decoration: none;
	color: #333;
}

div.popup-calendar table td.today a 
{
	border-color: #aaa;
}

div.popup-calendar table td a.selected, div.popup-calendar table td a:hover 
{
	background: #FFA84C; 
	color: #fff;
}

input.date-picker 
{
	width: 90px;
	margin: 1px 5px 5px 0;
}

#chartContainer
{
	text-align:center;
}
.chart
{
	text-align:center;
	border: 2px solid #404040;//#FFC29F;
	background-color: #303030;
	padding: 10px;
}

#dataSet
{
	border: thin double #FFA84C;
	background-color: #FFE0BF;
}

.stepContainer .step
{
	border: thin double #FFA84C;
	background-color: #FFE0BF;
	margin-bottom: 1px;
	padding: 1px;
	cursor:pointer;
}

.stepContainer .step:hover
{
	background-color: #FFF0CF;
}

#colorDiv
{
	float: left;
	width: 300px;
	border: thin double #FFA84C;
}

#fieldsDiv
{
	float: left;
}	

/* org.openiot.gsn data part */
div.full-page {
    width: 730px !important;
}

.ui-accordion h3 {
    margin: 0;
    padding: 0;
}

.ui-accordion {
    height: 474px;
    border: 1px solid #FFA84C;
}

.ui-accordion-content {
    height: 350px;
    overflow: auto;
}

.ui-accordion-header a {
    display: block;
    padding: 5px;
    margin: 1px;
    text-decoration: none;
    font-weight: bold;
    font-size: 11px;
    color: black;
    background-color: #FFA84C;
}

.drawer-handle {
    border: 1px solid black;
}

.drawers li {
    list-style: none;
}

.tab-content {
    border: 1px solid;
}

.ui-tabs-panel,.ui-accordion-content {
    padding: 2px 2px;
}

.ui-tabs-hide {
    display: none;
}

.ui-tabs-nav {
    display: block;
    width: auto;
    height: 20px;
    border-bottom: 1px solid #FFA84C;
    padding: 0;
}

.ui-tabs-nav-item {
    list-style: none;
    float: left;
}

.ui-tabs-nav-item a {
    border: 1px solid #FFA84C;
    border-bottom: none;
    text-align: center;
    display: block;
    width: 100px;
    height: 16px;
    padding: 2px;
    margin-right: 4px;
    font-weight: bold;
    background-color: #FFE0BF;
}

.ui-tabs-selected a {
    background-color: #FFA84C;
}

.clear-both {
    clear: both;
}

.data-outputs-container ul,
.conditions-container ul {
    list-style: none;
    padding: 4px;
}

#gridContainer table th {
    background-color: #FFE0BF;
}

/* dialog - zomming - plotting */
.ui-dialog-titlebar-close{
    display: none; /* removing the close btn*/
}
.ui-dialog-container{
    width:300px; /* For some reasons the actual size can't be specified through percentage !''*/
    height: 600px;
}
.dlg_selector .overview{
    width: 150px;
    height: 100px;
}

.ui-dialog-content{
    padding:0px;
}
.gsn_chart{
    width:480px;
    height:250px;
    /* position:absolute !important; */
}
.gsn_chart canvas{
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
}
.miniature {
    float: right;
    margin-left: 30px ;
    max-width:200px;
}
.overviewLegend{
    padding-left:30px;
}
.overview{
    margin: auto;
}
.miniature .legendColorBox{
    padding-left:30px;
    background-image: url(eye.png) ;
    background-position: left center;
    background-repeat: no-repeat;
}
.miniature .no-img{
    background-image: none;
}

.ui-dialog {
    width:auto;
    height:auto;
}
.clear-both{
    clear:both;
}

/* datepicker */

.ui-datepicker-prev, .ui-datepicker-next {
    display: block;
    width: 1.3em;
    height: 1.4em;
    background: #e6e6e6 url(/img/datepicker/e6e6e6_40x100_textures_02_glass_75.png) 0 50% repeat-x;
}