/**
 * The main CSS file for the Semantic Calendar extension.
 */


table.gsn_status{
	border-width:medium; border-style:solid; border-color:#7FB2E1;
}

#gsn_status_footer {
		xbackground:#cc9;
		clear:both;
		color:#808080;
		font-size:smaller;
		margin:0;
		text-align:center;
 }


th.gsn_vsensor_unavailable{
	color:#FFFFFF;
	background-color:#FD4545;
}

th.gsn_vsensor_available{
	color:#000000;
	background-color:#6DFB05;
}

table.gsn_data{
}

th.gsn_filed{
}

td.gsn_value{
}

#gsn_display_content table {
	width:100%;
}

#gsn_display_content .step{
	background-color:#7FB2E1;
	color:#000000;
}

#gsn_display_content .data{
	background-color:#ffffff;
	xcolor:#4c4c4c;
}
#gsn_display_content .query{
	font-style:italic;
}

#gsn_display_content_footer {
		xbackground:#cc9;
		clear:both;
		color:#808080;
		}
#gsn_display_content_footer p {
		font-size:smaller;
		margin:0;
		text-align:center;
 }

v\:* { behavior:url(#default#VML); }

/* general style */

#container {
		margin:10px auto;
		padding:1px;
		width:750px;
		background:#FFFFFF;
}

#datechooser {
	clear:both;
	margin:1px;
	border: 1px solid #7FB2E1;
	margin-bottom:8px;
	background:#7FB2E1;
}

#datachooser table {
	width:100%;
}

#datachooser .step{
	background-color:#7FB2E1;
	color:#000000;
}

#datachooser .data{
	background-color:#ffffff;
	xcolor:#4c4c4c;
}
#datachooser .query{
	font-style:italic;
}

#main {
		float:left;
		padding:0 10px;
		}
#main h2, #main h3, #main p {
		padding:0;
    	}
    	
#sidebar {
		xbackground:#99c;
		
		float:left;
		width:220px;
		margin:0;
		padding:0;
		text-align:left;
		xpadding:0 10px 50px 10px;
		}
#sidebar ul {
		margin-bottom:0;
    	}
#sidebar h3 {
		font-size:1.2em;
}
#sidebar h3, #sidebar p {
		margin:5px;
		xpadding:0 10px 0 0;
    	}
#gsn_footer {
		xbackground:#cc9;
		clear:both;
		color:#808080;
		}
#gsn_footer p {
		padding:10px 0 5px 0;
		margin:0;
		text-align:center;
 }

#vsmap {
	margin-bottom:5px;
}



#vsmenu
{
list-style: none;
margin: 0;
padding: 0;
border: none;
}

#vsmenu li
{
clear:both;
border-bottom: 1px solid #ffffff;
margin: 0;
}

#vsmenu li a
{
display: block;
padding: 5px 5px 5px 0.5em;
border-left: 10px solid #FFE2BF;
background-color: #FFF0DF;
color: #7FB2E1;
text-decoration: none;
width: 100%;

}

html>body #vsmenu li a { width: auto; }

#vsmenu li a:hover
{
border-left: 10px solid #7FB2E1;
background-color: #FFB25F;
color: #fff;
}

#vsmenu .toggle, #vsmenu .toggle:hover, #vsmenu .toggle:visited {
background:none;
float:right;
margin:-22px 0 0 0;
padding:0 5px;
border:0;
font-weight:bold;
}

#msg {
	border-top: 2px solid #7FB2E1;
	border-bottom: 2px solid #7FB2E1;
	background: #FFE0BF;
	margin: 5px 0;
	padding:5px;
}
#msg.good {
	font-weight:bold;
}
#msg.bad {
	font-weight:bold;
	color:red;
}

/* specific style for vsbox and core bellow */
.tooltip {
	border: 1px solid #7FB2E1;
	padding: 2px;
	background: #FFE0BF;
	color: black;
}

#main > div { display:none; }

.vsbox {
		clear:both;
		margin:1px;
		border: 1px solid #7FB2E1;
		margin-bottom:8px;
		background:#7FB2E1;
}
.followed {
		background:#FF8400;
		border: 1px solid #FF8400;
}
.vsbox h3 {
		margin:1px 10px;
		padding:0;
		xdisplay:inline-block;
		font-size:1.2em;
}
.vsbox h3 span {float:left;}
.vsbox h3 span.id,.vsbox h3 span.status {display:none;}
.vsbox h3 a .vsname {color:#000;text-decoration:underline;}		
.vsbox h3 a.close {font-size:0.8em;float:right;}		
.vsbox h3 span.timed {
	margin-left:5px;
	font-size:0.8em;
	font-weight:normal;
}

.vsbox p, .vsbox dl {
	clear:both;
	padding:3px;
	margin:0;
	background:#ffffff;
}		
.vsbox dt {
	clear:both;
	float:left;
	font-weight:bold;
	padding:0;
	margin:0;
	padding-right:5px;
	width:100px;
	height:1.3em;
	text-align:right;
}
.vsbox dd {
	padding:0;
	margin:0;
	line-height:1.3em;
	xfloat:left;
}
.vsbox dd img {
	/*height:150px;*/
}
.vsbox input[type=submit], .vsbox dl p {
	margin-left:107px;
}
.vsbox select.cmd{margin-left:108px; width:146px;}
.vsbox .input select {width:146px;}
.vsbox .input input {vertical-align:middle;}
.vsbox dl p {	font-style: italic;}

.vsbox a.tabdynamic, .vsbox a.tabstatic, .vsbox a.tabstructure,.vsbox a.tabdescription,.vsbox a.tabupload {
	display:none;
}

.vsbox dl.static, .vsbox dl.structure,.vsbox dl.description,.vsbox dl.upload {
	display:none;
}
.hidden {
	display:none;
}
.clear {
	clear:both;
}	
.error {
	font-weight:bold;
	color:#f00;
}
.tabnav{
		float:none;
		clear:both;
		height: 20px;
		margin: 0;
		padding-left: 10px;
}
.tabnav li
	{
		margin: 0; 
		padding: 0;
  		display: inline;
  		list-style-type: none;
  	}
	
.tabnav a:link, .tabnav a:visited
	{
		float: left;
		background: #FFE0BF;
		font-size: 10px;
		line-height: 14px;
		font-weight: bold;
		padding: 2px 10px 2px 10px;
		margin-right: 4px;
		border: 1px solid #FFE0BF;
		text-decoration: none;
		color: #666;
	}

.tabnav a:link.active, .tabnav a:visited.active
	{
		border-bottom: 1px solid #fff;
		background: #fff;
		color: #000;
	}

.tabnav a:hover
	{
		background: #fff;
	}

.gpsenabled {
	font-style: italic;
	font-weight: bold;
}

/* Date picker specific styles follow */

a.date-picker {
	width: 16px;
	height: 16px;
	border: none;
	color: #fff;
	padding: 0;
	margin: 0;
	yfloat: left;
	overflow: hidden;
	cursor: pointer;
	background: url(calendar.png) no-repeat; 
}
a.date-picker span {
	ymargin: 0 0 0 -2000px;
}
div.date-picker-holder, div.date-picker-holder * {
	margin: 0;
	padding: 0;
}
div.date-picker-holder {
	position: relative;
	display:inline;
}
div.date-picker-holder input {
	yfloat: left;
}
div.popup-calendar {
	display: none;
	position: absolute;
	z-index: 2;
	top: 0;
	left: -16px; /* value for IE */
	padding: 4px;
	border: 2px solid #7FB2E1;
	background: #fff;
	color: #000;
	overflow:hidden;
	width: 163px;
	font-size: 80%;
}
html>body div.popup-calendar {
	left: 99px; /* value for decent browsers */
}
div.popup-calendar div.link-close {
	float: right;
}
div.popup-calendar div.link-prev {
	float: left;
}
div.popup-calendar h3 {
	font-size: 1.3em;
	margin: 2px 0 5px 3px;
}
div.popup-calendar div.link-next {
	float: right;
}
div.popup-calendar div a {
	padding: 1px 2px;
	color: #000;
}
div.popup-calendar div a:hover {
	background-color: #7FB2E1;
	color: #fff;
}
div.popup-calendar table {
	margin: 0;
}
* html div.popup-calendar table {
	display: inline;
}
div.popup-calendar table th, div.popup-calendar table td {
	background: #eee;
	width: 21px;
	height: 17px;
	text-align: center;
}
div.popup-calendar table td.inactive {
	color: #aaa;
	padding: 1px 0 0;
}
div.popup-calendar table th.weekend, div.popup-calendar table td.weekend {
	background: #f6f6f6;
}
div.popup-calendar table td a {
	display: block;
	border: 1px solid #eee;
	width: 19px;
	height: 15px;
	text-decoration: none;
	color: #333;
}
div.popup-calendar table td.today a {
	border-color: #aaa;
}
div.popup-calendar table td a.selected, div.popup-calendar table td a:hover {
	background: #7FB2E1; 
	color: #fff;
}
div.popup-calendar p select {
	width: 3.5em;
}

input.date-picker {
	width: 90px;
	margin: 1px 5px 5px 0;
}
