<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>GSN Server</display-name>
<!-- 
     *******************************************************************************     
      WEB SERVICES CALL [ USED FOR INTERACTIONS WITH MICROSOFT SENSOR MAP ] ; there is
      another part down in this file which has to be uncommented to have the axis working.
     ******************************************************************************* -->
<!--
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
 -->

<!-- *******************************************************************************     
      GSN's Main Servlets, Must be enabled for any kind of HTTP based access
     ******************************************************************************* -->
    
	<!-- GSN START -->
	<servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <display-name>GSN XML Output</display-name>
        <servlet-class>org.openiot.gsn.http.ControllerServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>DataDownload</servlet-name>
        <display-name>GSN Data Download</display-name>
        <servlet-class>org.openiot.gsn.http.DataDownload</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FieldDownloadServlet</servlet-name>
        <display-name>GSN Field Get</display-name>
        <servlet-class>org.openiot.gsn.http.FieldDownloadServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FieldUpload</servlet-name>
        <display-name>GSN Field Upload</display-name>
        <servlet-class>org.openiot.gsn.http.FieldUpload</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>MultiDataDownload</servlet-name>
        <display-name>GSN Multiple Field Download</display-name>
        <servlet-class>org.openiot.gsn.http.MultiDataDownload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Streaming</servlet-name>
        <display-name>GSN Data Streaming Interface</display-name>
        <servlet-class>org.openiot.gsn.http.rest.RestStreamHanlder</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GeoData</servlet-name>
        <display-name>Sensor Data with Geo Location</display-name>
        <servlet-class>org.openiot.gsn.http.GeoDataServlet</servlet-class>
    </servlet>

    <servlet>
            <servlet-name>DynamicGeoData</servlet-name>
            <display-name>Dynamic Sensor Data with Geo Location</display-name>
            <servlet-class>org.openiot.gsn.http.DynamicGeoDataServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>MenuServlet</servlet-name>
        <display-name>GSN Main Menu</display-name>
        <servlet-class>org.openiot.gsn.http.MenuServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyCreateGroupServlet</servlet-name>
        <display-name>MyCreateGroupServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyCreateGroupServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyUserDetailUpdateServlet</servlet-name>
        <display-name>MyUserDetailUpdateServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUserDetailUpdateServlet</servlet-class>
    </servlet>


     <servlet>
        <servlet-name>MyLoginHandlerServlet</servlet-name>
        <display-name>MyLoginHandlerServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyLoginHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyLogoutHandlerServlet</servlet-name>
        <display-name>MyLogoutHandlerServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyLogoutHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyDisplayACTablesContentServlet</servlet-name>
        <display-name>MyDisplayACTablesContentServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyDisplayACTablesContentServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyUserCandidateRegistrationServlet</servlet-name>
        <display-name>MyUserCandidateRegistrationServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUserCandidateRegistrationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyDataSourceCandidateRegistrationServlet</servlet-name>
        <display-name>MyDataSourceCandidateRegistrationServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyDataSourceCandidateRegistrationServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUserCandidateWaitingListServlet</servlet-name>
        <display-name>MyUserCandidateWaitingListServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUserCandidateWaitingListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyGroupManagementServlet</servlet-name>
        <display-name>MyGroupManagementServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyGroupManagementServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyDeleteGroupServlet</servlet-name>
        <display-name>MyDeleteGroupServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyDeleteGroupServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyChangeGroupCombinationServlet</servlet-name>
        <display-name>MyChangeGroupCombinationServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyChangeGroupCombinationServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyDataSourceCandidateWaitingListServlet</servlet-name>
        <display-name>MyDataSourceCandidateWaitingListServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyDataSourceCandidateWaitingListServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyUserUpdateServlet</servlet-name>
        <display-name>MyUserUpdateServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUserUpdateServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUpdateUserWaitingForGroupServlet</servlet-name>
        <display-name>MyUpdateUserWaitingForGroupServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUpdateUserWaitingForGroupServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUpdateUserWaitingForDataSourceServlet</servlet-name>
        <display-name>MyUpdateUserWaitingForDataSourceServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUpdateUserWaitingForDataSourceServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyOwnerWaitingListServlet</servlet-name>
        <display-name>MyOwnerWaitingListServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyOwnerWaitingListServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUserUpdateWaitingListServlet</servlet-name>
        <display-name>MyUserUpdateWaitingListServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUserUpdateWaitingListServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUpdateUserGroupServlet</servlet-name>
        <display-name>MyUpdateUserGroupServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUpdateUserGroupServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUpdateUserDataSourceServlet</servlet-name>
        <display-name>MyUpdateUserDataSourceServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUpdateUserDataSourceServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyAdminManagementServlet</servlet-name>
        <display-name>MyAdminManagementServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyAdminManagementServlet</servlet-class>
    </servlet>

     <servlet>
        <servlet-name>MyUserAccountManagementServlet</servlet-name>
        <display-name>MyUserAccountManagementServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyUserAccountManagementServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyRegistrationOkServlet</servlet-name>
        <display-name>MyRegistrationOkServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyRegistrationOkServlet</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>MyHtmlResultSetServlet</servlet-name>
        <display-name>MyHtmlResultSetServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyHtmlResultSetServlet</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>MyGroupHtmlResultSetServlet</servlet-name>
        <display-name>MyGroupHtmlResultSetServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyGroupHtmlResultSetServlet</servlet-class>
    </servlet>

   <servlet>
        <servlet-name>MyAccessRightsManagementServlet</servlet-name>
        <display-name>MyAccessRightsManagementServlet</display-name>
        <servlet-class>org.openiot.gsn.http.ac.MyAccessRightsManagementServlet</servlet-class>
    </servlet>


   <servlet>
       <servlet-name>GridDataServlet</servlet-name>
       <display-name>GridDataServlet</display-name>
       <servlet-class>org.openiot.gsn.http.GridDataServlet</servlet-class>
   </servlet>

   <servlet>
       <servlet-name>RestServlet</servlet-name>
       <display-name>RestServlet</display-name>
       <servlet-class>org.openiot.gsn.http.restapi.RestServlet</servlet-class>
   </servlet>



   
	<!-- mapping for GSN -->
	
	<servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/org.openiot.gsn</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>DataDownload</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FieldDownloadServlet</servlet-name>
        <url-pattern>/field</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FieldUpload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>MultiDataDownload</servlet-name>
        <url-pattern>/multidata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Streaming</servlet-name>
        <url-pattern>/streaming/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GeoData</servlet-name>
        <url-pattern>/geodata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DynamicGeoData</servlet-name>
        <url-pattern>/dynamicgeodata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GridDataServlet</servlet-name>
        <url-pattern>/griddata</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>RestServlet</servlet-name>
    	<url-pattern>/rest/*</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>MenuServlet</servlet-name>
        <url-pattern>/menu.jsp</url-pattern>
    </servlet-mapping>

     <servlet-mapping>
            <servlet-name>MyCreateGroupServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyCreateGroupServlet</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
            <servlet-name>MyUserDetailUpdateServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUserDetailUpdateServlet</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
            <servlet-name>MyLoginHandlerServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyLoginHandlerServlet</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
            <servlet-name>MyLogoutHandlerServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyLogoutHandlerServlet</url-pattern>
     </servlet-mapping>

     <servlet-mapping>
            <servlet-name>MyDisplayACTablesContentServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyDisplayACTablesContentServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyUserCandidateRegistrationServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUserCandidateRegistrationServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyDataSourceCandidateRegistrationServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyDataSourceCandidateRegistrationServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyUserCandidateWaitingListServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUserCandidateWaitingListServlet</url-pattern>
     </servlet-mapping>


      <servlet-mapping>
            <servlet-name>MyGroupManagementServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyGroupManagementServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyDeleteGroupServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyDeleteGroupServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyChangeGroupCombinationServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyChangeGroupCombinationServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyDataSourceCandidateWaitingListServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyDataSourceCandidateWaitingListServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyUserUpdateServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUserUpdateServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyUpdateUserWaitingForGroupServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUpdateUserWaitingForGroupServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
         <servlet-name>MyUpdateUserWaitingForDataSourceServlet</servlet-name>
           <url-pattern>/org.openiot.gsn/MyUpdateUserWaitingForDataSourceServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyOwnerWaitingListServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyOwnerWaitingListServlet</url-pattern>
     </servlet-mapping>


      <servlet-mapping>
            <servlet-name>MyUserUpdateWaitingListServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUserUpdateWaitingListServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyUpdateUserGroupServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUpdateUserGroupServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyUpdateUserDataSourceServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUpdateUserDataSourceServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyAdminManagementServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyAdminManagementServlet</url-pattern>
     </servlet-mapping>


      <servlet-mapping>
            <servlet-name>MyUserAccountManagementServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyUserAccountManagementServlet</url-pattern>
     </servlet-mapping>

      <servlet-mapping>
            <servlet-name>MyRegistrationOkServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyRegistrationOkServlet</url-pattern>
     </servlet-mapping>


       <servlet-mapping>
            <servlet-name>MyHtmlResultSetServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyHtmlResultSetServlet</url-pattern>
     </servlet-mapping>

       <servlet-mapping>
            <servlet-name>MyGroupHtmlResultSetServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyGroupHtmlResultSetServlet</url-pattern>
     </servlet-mapping>

       <servlet-mapping>
            <servlet-name>MyAccessRightsManagementServlet</servlet-name>
            <url-pattern>/org.openiot.gsn/MyAccessRightsManagementServlet</url-pattern>
     </servlet-mapping>


     


	<!-- GSN END -->
	
	<!-- 
     *******************************************************************************     
      WEB SERVICES CALL MAPPING [ USED FOR INTERACTIONS WITH MICROSOFT SENSOR MAP ] 
     ******************************************************************************* -->
<!--     <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
 -->



    <!--
    Source IP Filtering for Microsoft SensorMap webservice.
    Authentication is removed but IP source filter is added.
    Only the sensormap.org server can access the webservice.
    sensormap.org IP: 131.107.151.211
     -->
    <filter>
        <display-name>Microsoft SensorMap Webservice IP Source Filter</display-name>
        <filter-name>MSRIPSourceFilter</filter-name>
        <filter-class>org.openiot.gsn.http.IPSourceFilter</filter-class>
        <init-param>
            <param-name>allowedIps</param-name>
            <!-- <param-value>127.0.0.1;10.0.2.15</param-value> -->
            <param-value>131.107.151.211</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MSRIPSourceFilter</filter-name>
        <url-pattern>/services/Service/*</url-pattern>
    </filter-mapping>
    <!-- The following remove all constraints as no auth-constraint is specified. -->
    <security-constraint >
        <web-resource-collection>
            <web-resource-name>Open Area</web-resource-name>
            <url-pattern>/services/Service/*</url-pattern>
            <url-pattern>/menu.jsp</url-pattern>
        </web-resource-collection>
    </security-constraint>
 
    <!-- Filter for accesscontrol package -->


     <filter>
        <display-name>MyControllerFilter</display-name>
        <filter-name>MyControllerFilter</filter-name>
        <filter-class>org.openiot.gsn.http.ac.MyControllerFilter</filter-class>
         <init-param>
            <param-name>logIPs</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>

   <filter-mapping>
     <filter-name>MyControllerFilter</filter-name>
       <url-pattern>/org.openiot.gsn</url-pattern>
       <url-pattern>/field</url-pattern>
       <url-pattern>/data</url-pattern>
       <url-pattern>/multidata</url-pattern>
       <url-pattern>/geodata</url-pattern>
       <url-pattern>/griddata</url-pattern>
   </filter-mapping>

      
     
    <mime-mapping>
        <extension>inc</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
    </welcome-file-list>

   <security-constraint>
   <web-resource-collection>
     <web-resource-name>LoginHandlerServlet</web-resource-name>
     <url-pattern>/org.openiot.gsn/loginhandlerservlet</url-pattern>
   </web-resource-collection>
   <user-data-constraint>
     <transport-guarantee>CONFIDENTIAL</transport-guarantee>
   </user-data-constraint>
 </security-constraint>

</web-app>
